---
const { url, slug, summary, title, src, alt, category, company } = Astro.props;
---
<div class="card">
	<a href={url} class="thumb">
		<p>Read on</p>
		<img src={src} alt={alt} />
	</a>
	<div class="text">
		<span class="category">{category}</span>
		<h3 class="title">{title}</h3>
		<span class="company">{company}</span>
	</div>
</div>